<div id="content">
    
    <!-- Begin Page Content -->
    <div class="container-fluid">

        <!-- Page Heading -->
        <h1
        id="category-title"
        class="h3 mb-2 text-gray-800"></h1>

        <!-- DataTales Example -->
        <div class="card shadow mb-4">
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Variants</th>
                                <th>Images</th>
                                <th>Description</th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th>Name</th>
                                <th>Variants</th>
                                <th>Images</th>
                                <th>Description</th>
                            </tr>
                        </tfoot>
                        <tbody>
                            
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<script is:inline>
    const category = document.querySelector('#category-title');
    const urlParams = new URLSearchParams(window.location.search);
    const category_name = urlParams.get('name');
    const parsed_category_name = category_name.replace(/-/g, ' ')
    .replace(/\b\w/g, l => l.toUpperCase());
    category.innerHTML = parsed_category_name;
</script>