---
const { title, activeNav } = Astro.props;
---
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
        <div class="sidebar-brand-icon rotate-n-15">
            <i class="fas fa-laugh-wink"></i>
        </div>
        <div class="sidebar-brand-text mx-3">{ title }</div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <li 
    id="dashboard-nav"
    class="nav-item">
        <a class="nav-link" href="/">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Dashboard</span></a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
        Data
    </div>

    <li 
    id="order-nav"
    class="nav-item">
        <a class="nav-link" href="/order">
            <i class="fas fa-fw fa-table"></i>
            <span>Order</span></a>
    </li>

    <!-- Nav Item - Tables -->
    <li 
    id="users-nav"
    class="nav-item">
        <a class="nav-link" href="/users">
            <i class="fas fa-fw fa-table"></i>
            <span>Users</span></a>
    </li>

    <!-- Heading -->
    <div class="sidebar-heading">
        Category
    </div>

    <li 
    id="papan-bunga-nav"
    class="nav-item">
        <a class="nav-link" href="/category?name=papan-bunga">
            <i class="fas fa-fw fa-table"></i>
            <span>Papan Bunga</span></a>
    </li>

    <li
    id="bouquet-nav" 
    class="nav-item">
        <a class="nav-link" href="/category?name=bouquet">
            <i class="fas fa-fw fa-table"></i>
            <span>Bouquet</span></a>
    </li>

    <li 
    id="money-cake-nav"
    class="nav-item">
        <a class="nav-link" href="/category?name=money-cake">
            <i class="fas fa-fw fa-table"></i>
            <span>Money Cake</span></a>
    </li>

    <li 
    id="snack-tower-nav"
    class="nav-item">
        <a class="nav-link" href="/category?name=snack-tower">
            <i class="fas fa-fw fa-table"></i>
            <span>Snack Tower</span></a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block">

    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>

</ul>

<script is:inline>
    const path = window.location.pathname;
    switch (path) {
        case '/':
            document.getElementById('dashboard-nav').classList.add('active');
            break;
        case '/order':
            document.getElementById('order-nav').classList.add('active');
            break;
        case '/users':
            document.getElementById('users-nav').classList.add('active');
            break;
        default:
            break;
    }

    const searchParams = new URLSearchParams(window.location.search);
    switch (searchParams.get('name')) {
        case 'papan-bunga':
            document.getElementById('papan-bunga-nav').classList.add('active');
            break;
        case 'bouquet':
            document.getElementById('bouquet-nav').classList.add('active');
            break;
        case 'money-cake':
            document.getElementById('money-cake-nav').classList.add('active');
            break;
        case 'snack-tower':
            document.getElementById('snack-tower-nav').classList.add('active');
            break;
        default:
            break;
    }
</script>